@import 'styles/crtAnimations.scss';

* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body {
    // align-items: center;
    background-color: darken(#031e11, 4%);
    color: #14fdce;
    // display: flex;
    // flex-direction: column;
    font-family: 'Courier', sans-serif;
    // justify-content: center;

    > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;

        @extend %crt;
    }
}

span:not('.b') {
    left: 100%;
    position: absolute;
}

.b {
    color: transparent;
    text-shadow: none;
}

nav {
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
}