@import 'styles/crtAnimations.scss';

* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier', sans-serif;
    color: #14fdce;
    background-color: darken(#031e11, 4%);

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        @extend %crt;
    }
}

span:not('.b') {
    position: absolute;
    left: 100%;
}

.b {
    color: transparent;
    text-shadow: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}