@import 'styles/crtAnimations.scss';

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier', sans-serif;
    color: #14fdce;
    // color: #0f0;
    background-color: darken(#031e11, 4%);

    > div {
        
        @extend %crt;
    }
}

h1 {
    position: relative;
    display: block;
    color: #0f0;
    user-select: none;
}

span:not('.b') {
    position: absolute;
    left: 100%;
}

.b {
    color: transparent;
    text-shadow: none;
}