%crt {
    animation: text-shadow 1.6s infinite;

    &::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: block;
        pointer-events: none;
        content: '';
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(90, 90, 90, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
        background-size: 100% 4px, 10px 100%;
        animation: flicker 0.5s infinite;
    }
}

@keyframes flicker {
    $_steps: 20;

    @for $i from 0 through $_steps {

        #{percentage($i * (1 / $_steps))} {
            opacity: random();
        }
    }
}

@keyframes text-shadow {
    $_steps: 20;

    @for $i from 0 through $_steps {
        
        #{percentage($i * (1 / $_steps))} {
            $blue: random() * 5;
            $red: random() * -5;
            text-shadow: #{$blue}px 0 1px rgba(0, 30, 255, 0.5), #{$red}px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
        }
    }
}

/* @keyframes text-shadow {

    0% {
        text-shadow: 0.438px 0 1px rgba(0, 30, 255, 0.5), -0.438px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    5% {
        text-shadow: 2.792px 0 1px rgba(0, 30, 255, 0.5), -2.792px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    10% {
        text-shadow: 0.029px 0 1px rgba(0, 30, 255, 0.5), -0.029px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    15% {
        text-shadow: 0.402px 0 1px rgba(0, 30, 255, 0.5), -0.402px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    20% {
        text-shadow: 3.479px 0 1px rgba(0, 30, 255, 0.5), -3.479px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    25% {
        text-shadow: 1.612px 0 1px rgba(0, 30, 255, 0.5), -1.612px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    30% {
        text-shadow: 0.701px 0 1px rgba(0, 30, 255, 0.5), -0.701px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    35% {
        text-shadow: 3.896px 0 1px rgba(0, 30, 255, 0.5), -3.896px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    40% {
        text-shadow: 3.87px 0 1px rgba(0, 30, 255, 0.5), -3.87px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    45% {
        text-shadow: 2.231px 0 1px rgba(0, 30, 255, 0.5), -2.231px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    50% {
        text-shadow: 0.08px 0 1px rgba(0, 30, 255, 0.5), -0.08px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    55% {
        text-shadow: 2.375px 0 1px rgba(0, 30, 255, 0.5), -2.375px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    60% {
        text-shadow: 2.202px 0 1px rgba(0, 30, 255, 0.5), -2.202px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    65% {
        text-shadow: 2.863px 0 1px rgba(0, 30, 255, 0.5), -2.863px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    70% {
        text-shadow: 0.488px 0 1px rgba(0, 30, 255, 0.5), -0.488px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    75% {
        text-shadow: 1.894px 0 1px rgba(0, 30, 255, 0.5), -1.894px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    80% {
        text-shadow: 0.083px 0 1px rgba(0, 30, 255, 0.5), -0.083px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    85% {
        text-shadow: 0.097px 0 1px rgba(0, 30, 255, 0.5), -0.097px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    90% {
        text-shadow: 3.443px 0 1px rgba(0, 30, 255, 0.5), -3.443px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    95% {
        text-shadow: 2.184px 0 1px rgba(0, 30, 255, 0.5), -2.184px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    100% {
        text-shadow: 2.62px 0 1px rgba(0, 30, 255, 0.5), -2.62px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
} */

@keyframes glitch {
    
    0% {
        filter: brightness(30);
        opacity: 1;
        transform: scale(1, 0.8) translate3d(0, 0, 0);
    }

    25% {
        transform: scale(1, 0.8) translate3d(0, 100%, 0);
    }
    
    26% {
        opacity: 1;
        transform: scale(1, 0.8) translate3d(0, -100%, 0);
    }
    
    60% {
        filter: brightness(30);
        opacity: 0;
        transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    }
    
    80% {
        filter: contrast(0) brightness(0);
        opacity: 0;
        transform: scale(1, 1) translate3d(0, 0, 0);
    }
    
    90% {
        filter: contrast(1) brightness(1.2) saturate(1.3);
        opacity: 1;
        transform: scale(1, 1) translate3d(0, 0, 0);
    }
}